body {
    background-color: #212738;
    color: white;
    text-shadow: 0 0 48px #212738;

    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';

    margin: 60px; /* Remove margem padrão  */
    padding: 20px; /* Adiciona um espaço interno (padding) na página. */
}

.title, .balance {
    border-radius: 5px;
    padding: 10px;
}

.title {
    background-color: #D1D646;
}

.balance {
    color: black;
    background-color: #EDF2EF;
}

button {
    cursor: pointer;
    width: 15%;
    padding: 15px;
    border: 0.1pt, 0.1pt, black;
    border-radius: 5px;

}

.depositButton {
    background-color: #D1D646;
}

.depositButton:hover {
    background-color: #d1d646c1;
}

.withdrawButton {
    background-color: #fb9696;
}

.withdrawButton:hover {
    background-color: #fb9696c3;
}